<div class="row">
<div class="col-7">
  <div class="mainDiv">
  <div class="custom-card">
    <div class="card-header heading">
SUPPLY CHAIN FINANCE
    </div>
    <div class="card-content">
      <form [formGroup]="loginForm" class="custom-form">
        <div class="form-group m-top-15">
          <label for="name" class="customLabel">Username</label>
            <input type="text" formControlName="username" class="form-control inputCustom"
            placeholder="Enter username" [ngClass]="{'is-invalid':f.username.errors && f.username.dirty, 'is-valid':!f.username.errors}">

          <div *ngIf="f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Please fill out this field.</div>
        </div>
      </div>
        <div class="form-group m-top-15">
          <label for="password" class="customLabel">Password</label>

            <input type="password" formControlName="password" class="form-control inputCustom" placeholder="Enter password"
              [ngClass]="{'is-invalid':f.password.errors && f.password.dirty, 'is-valid':!f.password.errors}">
          <div *ngIf="f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              Please fill this field
            </div>
          </div>
          <div class="form-group center">
            <button type="submit" class="btn btn-primary customBtn" (click)="performLogin()"
              [disabled]="!loginForm.valid">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<div class="col-5" ></div>
</div>
