<nav class="navbar navbar-expand-sm navbar-dark justify-content-end" style="background-color: black;">
  <!-- Logo -->
  <a class="navbar-brand" class="cursor-pointer" routerLink="/">
    <img src="../../../assets/images/newgen_logo.png" alt="Logo" style="width: 150px;" />
  </a>

  <!-- Links -->
  <ul class="navbar-nav ml-md-auto list-inline">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <em class="fa fa-power-off"></em>
      </a>
    </li>
    <li>
      <a class="nav-link username">Gursheen Kaur </a>
    </li>

  </ul>
</nav>
