<div class="container" style="max-width: 1350px;">

  <!-- tabs -->
  <div class="card-header header">
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let tab of tabs">
        <button class="nav-link" [ngClass]="{'tab-selected':selectedTab==tab}"
          (click)=onTabSelected(tab)>{{tab}}</button>
      </li>
    </ul>
  </div>

  <!-- stepper -->

  <div id="stepper" class="bs-stepper" style="margin-top: 3%;">
    <div class="bs-stepper-header">
      <div class="step" data-target="#caseDetails">
        <button class="step-trigger">
          <span class="bs-stepper-circle" [ngClass]="{'completed':doneCaseDetails}">1</span>
          <span class="bs-stepper-label"> CASE DETAILS</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#invoiceDetails">
        <button class="step-trigger">
          <span class="bs-stepper-circle" [ngClass]="{'completed':doneInvoiceDetails}">2</span>
          <span class="bs-stepper-label">INVOICE DETAILS</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#bankDetails">
        <button class="step-trigger">
          <span class="bs-stepper-circle" [ngClass]="{'completed':doneBankDetails}">3</span>
          <span class="bs-stepper-label">BANK DETAILS</span>
        </button>
      </div>
    </div>
    <!-- form data -->
    <div class="bs-stepper-content">
      <div id="caseDetails" class="content">
        <form [formGroup]="caseDetailsForm">
          <div class="card" style="margin-left: 1%;">
            <!-- card header -->
            <div class="card-header heading-landing-page">
              CASE DETAILS
            </div>
            <!-- case details -->

            <div class="form-group row form-class">
              <div class="col-3">
                <label for="caseUnitID" class="form-label">Case Unit ID</label>
                <input type="text" class="form-control input-custom" formControlName="caseUnitID" />
              </div>
              <div class="col-3">
                <label for="productType" class="form-label">Product Type</label>
                <select class="form-control input-custom" formControlName="productType">
                  <option value="" selected disabled>Select Product Type</option>
                  <option *ngFor="let value of productType">{{value}}</option>
                </select>
              </div>
              <div class="col-3">
                <label for="buyerName" class="form-label">Buyer Name</label>
                <select class="form-control input-custom" formControlName="buyerName">
                  <option selected disabled>Select Buyer Name</option>
                  <option>Sudan</option>
                  <option>Adarsh</option>
                </select>
              </div>
              <div class="col-3">
                <label for="invDate" class="form-label">Invoice Date</label>
                <input type="date" class="form-control input-custom" formControlName="invDate" />
              </div>
            </div>

            <div class="form-group row form-class">
              <div class="col-3">
                <label for="dueDate" class="form-label">Due Date</label>
                <input type="date" class="form-control input-custom" formControlName="dueDate" />
              </div>
              <div class="col-3">
                <label for="bidValidityDate" class="form-label">Validiy Date</label>
                <input type="date" class="form-control input-custom" formControlName="bidValidityDate" />
              </div>
              <div class="col-3">
                <label for="maxBidRate" class="form-label">Max Rate (%)</label>
                <input type="text" class="form-control input-custom" formControlName="maxBidRate" />
              </div>
              <div class="col-3">
                <label for="autoAcceptRate" class="form-label">Auto Accept Rate (%)</label>
                <input type="text" class="form-control input-custom" formControlName="autoAcceptRate" />
              </div>
            </div>

            <div class="form-group row form-class">
              <div class="col-3">
                <label for="uniqueReferenceID" class="form-label">Unique Reference ID</label>
                <input type="text" class="form-control input-custom" formControlName="uniqueReferenceID" />
              </div>
              <div class="col-3">
                <label for="totalInvAmt" class="form-label">Invoice Amount</label>
                <input type="text" class="form-control input-custom" formControlName="totalInvAmt" />
              </div>
              <div class="col-3">
                <label for="totalAmtClaimed" class="form-label">Amount Claimed</label>
                <input type="text" class="form-control input-custom" formControlName="totalAmtClaimed" />
              </div>
              <div class="col-3">
                <label for="maxAcceptableMargin" class="form-label">Max Acceptable Margin (%)</label>
                <input type="text" class="form-control input-custom" formControlName="maxAcceptableMargin" />
              </div>
            </div>

            <div class="form-group row form-class">
              <div class="col-3">
                <label for="commidityType" class="form-label">Commodity Type</label>
                <select class="form-control input-custom" formControlName="commidityType">
                  <option selected>Select Commidity Type</option>
                  <option>Service</option>
                  <option selected>Product</option>
                </select>
              </div>
              <div class="col-3">
                <label for="commidity" class="form-label">Commidity</label>
                <input type="text" class="form-control input-custom" formControlName="commidity" />
              </div>
            </div>

            <!-- card footer -->
            <div class="card-footer">
              <div class="form-group row form-class">
                <div class="col-3">
                  <label for="remarks" class="form-label">Remarks</label>
                  <textarea type="text" class="form-control input-custom" formControlName="remarks"></textarea>
                </div>
                <div class="col-5" style="margin-left: 8%; margin-top: 2%;">
                  <button type="submit" (click)="submitCaseDetails(caseDetailsForm.value)"
                    [disabled]="!caseDetailsForm.valid" class="btn-custom">Save</button>
                  <button type="button" (click)="resetForm(caseDetailsForm)" class="btn-custom">Discard</button>
                  <button type="button" class="btn-custom" (click)="next('caseDetails')"
                    [disabled]="!caseDetailsForm.valid">Next</button>
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>



      <!-- invoice details -->
      <div id="invoiceDetails" class="content">
        <form [formGroup]="invoiceDetailsForm">
          <div class="card" style="margin-left: 1%;">
            <!-- card header -->
            <div class="card-header heading-landing-page">
              INVOICE DETAILS
            </div>
            <!-- case details -->

            <div class="form-group row form-class">
              <div class="col-3">
                <label for="invNo" class="form-label">Invoice Number</label>
                <input type="text" class="form-control input-custom" formControlName="invNo" />
              </div>
              <div class="col-3">
                <label for="invAmt" class="form-label">Invoice Amount</label>
                <input type="text" class="form-control input-custom" formControlName="invAmt" />
              </div>
              <div class="col-3">
                <label for="amtClaimed" class="form-label">Amount Claimed</label>
                <input type="text" class="form-control input-custom" formControlName="amtClaimed" />
              </div>
              <div class="col-3">
                <label for="poNo" class="form-label">PO/PI Number</label>
                <input type="text" class="form-control input-custom" formControlName="poNo" />
              </div>
            </div>

            <div class="form-group row form-class">
              <div class="col-3">
                <label for="intRefNo" class="form-label">Internal Reference Number</label>
                <input type="text" class="form-control input-custom" formControlName="intRefNo" />
              </div>
              <div class="col-3">
                <label for="grnDatenew" class="form-label">GRN/SRN Date</label>
                <input type="date" class="form-control input-custom" formControlName="grnDatenew" />
              </div>
              <div class="col-3">
                <label for="grnNonew" class="form-label">GRN/SRN Number</label>
                <input type="text" class="form-control input-custom" formControlName="grnNonew" />
              </div>
            </div>

            <!-- card footer -->
            <div class="card-footer">
              <div class="form-group row form-class">
                <div class="col-3">
                  <label for="remarks" class="form-label">Remarks</label>
                  <textarea type="text" class="form-control input-custom" formControlName="remarks"></textarea>
                </div>
                <div class="col-5" style="margin-left: 8%; margin-top: 2%;">
                  <button type="submit" (click)="submitInvoiceDetails(invoiceDetailsForm.value)"
                    [disabled]="!invoiceDetailsForm.valid" class="btn-custom">Save</button>
                  <button type="button" (click)="resetForm(invoiceDetailsForm)" class="btn-custom">Discard</button>
                  <button type="button" class="btn-custom" (click)="next('invoiceDetails')"
                    [disabled]="!invoiceDetailsForm.valid">Next</button>
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- bank details -->
      <div id="bankDetails" class="content">
        <form [formGroup]="bankDetailsForm">
          <div class="card" style="margin-left: 1%;">
            <!-- card header -->
            <div class="card-header heading-landing-page">
              BANK DETAILS
            </div>
            <!-- bank details -->

            <div class="form-group row form-class">
              <table class="table table-bordered table-striped custom-table">
                <thead>
                  <tr>
                    <th>Bank Name</th>
                    <th>Account No</th>
                    <th>MICR</th>
                    <th>IFSC Code</th>
                    <th>Bank Type</th>
                    <th>Mandate Letter</th>
                    <th>Co Acceptance Limit</th>
                    <th>Co Acceptance Mandate Letter</th>
                    <th>Accounting Transaction</th>
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td>{{bankDetailsForm.controls.bankName.value}}</td>
                    <td>{{bankDetailsForm.controls.accountNumber.value}}</td>
                    <td>{{bankDetailsForm.controls.micr.value}}</td>
                    <td>{{bankDetailsForm.controls.ifsc.value}}</td>
                    <td>{{bankDetailsForm.controls.bankType.value}}</td>
                    <td>{{bankDetailsForm.controls.mandateLetter.value}}</td>
                    <td>{{bankDetailsForm.controls.coAcceptLimit.value}}</td>
                    <td>{{bankDetailsForm.controls.coAcceptMandLetter.value}}</td>
                    <td>{{bankDetailsForm.controls.accountingTransaction.value}}</td>
                </tbody>
              </table>
            </div>


            <!-- card footer -->
            <div class="card-footer">
              <div class="form-group row form-class">
                <div class="col-3">
                  <label for="remarks" class="form-label">Remarks</label>
                  <textarea type="text" class="form-control input-custom" formControlName="remarks"></textarea>
                </div>
                <div class="col-5" style="margin-left: 8%; margin-top: 2%;">
                  <button type="submit" (click)="submitBankDetails(bankDetailsForm.value)"
                    class="btn-custom">Initiate</button>
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
