@import "~bs-stepper/dist/css/bs-stepper.min.css";
.header {
	background-color: #212020;
	margin-top: 2%;
	margin-bottom: -2%;
	height: 65px;
  width: 96%;
  margin-left: 2%;
}

.nav-pills .nav-link {
	text-align: center;
	font-size: 15px;
	font-family: Helvetica;
}
.nav.nav-pills{
  padding-left: 12px;
}
/* color: white; */
.tab-selected {
	background-color: #337ab7;
}
.bs-stepper-label {
	font-size: 23px;
	color: black;
	padding-left: 5px;
}
.bs-stepper .line {
	min-height: 6px;
	background-color: gray;
}
.completed {
	background-color: #2ad805 !important;
	font-size: 20px;
	color: white;
}
.heading-landing-page {
	color: white;
	background-color: #337ab7;
	border-radius: 10px;
	font-weight: bold;
	height: fit-content;
	font-size: 16px;
}
.form-class {
	padding-left: 3%;
	padding-top: 2%;
	padding-right: 2%;
}
.form-label {
	color: black;
	font-size: 15px;
	font-weight: 500;
}
.input-custom {
	color: black;
	font-size: 14px;
}

.btn-custom {
	width: 18%;
	color: white;
	background-color: #337ab7;
	font-size: 15px;
	border-radius: 5px;
	padding: 6px;
}
.custom-table {
	font-size: 12px;
	margin-top: 3%;
	background: white;
}

th {
	text-align: center;
	white-space: nowrap;
	background-color: #0f7cda;
	color: white;
	font-size: 13px;
	font-weight: 500;
}

.table td {
	color: black;
	text-align: center;
	font-size: 14px;
}

/* html,body{
  background-color: white!important;
  background: none;
} */
