/* You can add global styles to this file, and also import other style files random comment */
/* center align form inside container */

.custom-card {
  margin-top: 10% !important;
  margin-left: 52% !important;
	width: 60%;
	margin: auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 0px 3px lightblue, 0 0 0 1px;
}

.custom-form {
	padding: 3% 10% 6% 10%;
}

.card-content {
	/* margin-top: 23%; */
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	/* margin-right: auto; */
	margin-left: auto;
}

/* customise label */

.customLabel {
	font-size: 15px;
	color: blue;
	font-weight: bold;
}

.logo {
	width: 250px;
	margin-left: 40%;
}
.txt1 {
	color: #ff9e19;
}

/* main parent div  */

.mainDiv {
	height: 100vh;
}

/* width of btn */

.btn-primary.customBtn {
	width: 40%;
	height: 40px;
	margin-top: 20px;
	background-color: blue;
	color: white;
	margin-left: -4%;
}

.btn-primary.forgetPasswordButton {
	width: 60%;
	height: 50px;
	margin-top: 30px;
	border-radius: 4px;
	background-color: #024667;
	border-color: #024667;
}

/* center the button  */

.center {
	text-align: center;
}

.title {
	padding-top: 7%;
	margin-bottom: 30px;
	/* padding: 10px; */
	text-align: center;
	font-size: 30px;
	color: #024667;
	font-weight: bold;
}

.inputCustom {
	height: 35px !important;
	margin-top: 2%;
}

.m-top-15 {
	margin-top: 15px;
}

.m-top-20 {
	margin-top: 20px;
}

.m-top-25 {
	margin-top: 25px;
}

html,
body {
	min-height: 100%;
	background: url('assets/images/login.jpg');
	background-size: cover;
}

/* html {
  background: url(assets/images/login.jpg) no-repeat center center fixed;
  background-size: cover;
} */
.heading {
	font-size: 20px;
	font-weight: bold;
	color: red;
	background-color: whitesmoke;
  border: none;
  text-align: center;
}
